body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 2rem;
}

html {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: #7940b1;
    font-family: 'Source Serif Pro', serif;
    line-height: 2.25rem;
    font-size: 1.1rem;
}

a:hover {
    opacity: 0.5;
    text-decoration: none;
}

aside.form-section p{
    margin: 10px auto 0;
    text-align: center;
}
aside.form-section {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 20px;
}
aside.form-section .flex-parent{
    align-items: center;
    justify-content: center;
}

aside.fun-facts {
    text-align: left;
}
aside.left-section {
    background-color: #f2f3fa;
    width: 50vw;
}

footer {
    background-color: #e3ddd7;
    padding: 30px;
}

footer a {
    font-size: 0.85rem;
}

footer p {
    text-align: center;
    margin: 10px;
}

footer ol {
    width: 100px;
    margin: 0 auto;
}

form {
    background-color: white;
    display: block;
    width: 50vw;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    width: 60vw;
    font-weight: 300;
    margin: 30px auto 0;
    text-align: center;
}

h3 {
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 0.1rem;
    color: #7940b1;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 40px;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}

h4.styled {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 30px;
}

img {
    width: 50vw;
}

input {
    width: 80%;
    height: 30px;
    padding-left: 20px;
    margin: 5px 0;
    border: solid 1px lightgray;
}

input#phone-radio, input#email-radio {
    height: auto;
    width: 50px;
    margin-left: 30px;
}

main {
    background-image: url(./images/closet-main.jpg);
    background-size: cover;
    width: 100%;
    padding: 0 0 60px;
    background-position: center;
}

main p {
    width: 50vw;
    margin: 0 auto;
}

nav {
    margin: 0 40px;
}
li {
    list-style: none;
}

li a:hover {
    text-decoration: none;
}

ol {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
}
p {
    text-align: justify;
    margin-left: 30px;
}

section {
    padding: 40px;
}

div.before-after-gallery {
    padding: 30px 50px 50px;
    width: 80vw;
    margin: 0 auto;
}

div.before-after-gallery-mobile {
    display: none;
}

div.before-after-gallery h5{
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20rem;
}
section.organized-drawer-pic {
    background-image: url(./images/drawer.jpg);
    width: 50vw;
    background-size: 150%;
    background-position: center;
    padding: 0;
}

section.flex-parent {
    padding: 0;
}

section.divider {
    height: 2px;
    width: 50px;
    margin: 40px auto 30px;
    padding: 0;
    background-color:  #7940b1;
}

section.divider.white {
    background-color: white;
}

section.denim-pic {
    background-image: url("./images/denim.jpg");
    height: 600px;
    width: 50vw;
    background-size: 150%;
    padding: 0;
    background-position: bottom;
}

section.pricing p {
    margin: 0 auto;
    text-align: center;
}

section.request-a-consultation {
    padding: 0;
    display: flex;
    background-color: white;
}

section.testimonial {
    /* background-image: url(./images/quote.svg);
    background-size: cover; */
    background-color: white;
    width: 22%;
    margin: 20px auto;
    padding: 40px 0 20px 0;
    flex-wrap: wrap;
}

section.testimonial p{
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 1.25rem;
    font-size: 1rem;
    /* background-color: white; */
}

section.testimonal-container {
    /* width: 98vw; */
    /* width: 90vw; */
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px 30px;
    /* padding: 20px 20px 40px; */
}
section.testimonials {
    background-color: #f2f3fa;
    padding: 30px 20px 10px 20px;
}

section.the-spaces {
    display: flex;
    background-color: #f2f3fa;
    width: 100%;
    padding: 0;
}
section.the-spaces h3{
    margin-top: 30px;
}

section.strategy p {
    margin-bottom: 30px;
}

small {
    text-align: center;
    margin: 0 auto;
}
textarea {
        width: 80%;
        min-height: 100px;
        padding-left: 20px;
        margin: 5px 0;
        border: solid 1px lightgray;
}

.bg-light {
    background-color: white!important;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}


.fa-facebook:before, .fa-instagram:before{
    color: black;
    font-size: 1.5rem;
    margin: 10px;
    border-bottom: none;
}


.flex-parent {
    display: flex;
}

.fun-facts {
    background-color: #f2f3fa;
    width: 70vw;
    line-height: 1rem;
    text-align: left;
    padding: 0 30px 30px;
    margin: 0 auto 80px;
}



a.stylized-link.main-link{
    background-color:transparent;
    border: 1px solid black;
    padding: 10px 30px;
    margin: 40px auto;
    width: 200px;
    display: block;
    text-decoration: none;
    box-sizing: content-box;
}

a.stylized-link.main-link:hover {
    opacity: 0.5;
}

button.stylized-link {
    background-color: #e3ddd7;
    color: #7940b1;
    font-family: 'Source Serif Pro', serif;
    line-height: 2.25rem;
    font-size: 1.1rem;
    padding: 10px 30px;
    margin: 20px auto;
    width: 200px;
    display: block;
    border: none;
}

button.stylized-link:hover {
    opacity: 0.5;
}

.testimonial p {
    text-align: left;
}

.the-story {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
    
}
.the-story-box {
    background-color: white;
    width: 50vw;
}

@media only screen and (max-width: 1100px) {
.mobile-nav {
    display: block;
    margin: 0 auto;
}

nav {
    display: none;
}

/* li.nav-item:last-of-type {
    padding-bottom: 25px;
} */

ol {
    justify-content: center;
}

.mobile-nav img.organized-by-grace-logo {
    margin: 30px auto;
}



/* tablet view-portrait */
@media only screen and (max-width: 768px) {

article p {
    margin: 0 auto;
    width: 75vw;
}
aside.form-section {
    margin: 0 auto;
}
aside.left-section {
    width: 100vw;
    padding-bottom: 30px;
}
aside.the-story {
    flex-direction: column;
    margin: 0 auto;
}

article.the-story p{
    height: 75vw;
    margin: 0;
}

form {
    width: 90vw;
}

h1 {
    margin: 0 auto;
}

input, textarea {
    width: 85%;
}
.mobile-nav {
    display: block;
    margin: 0 auto;
}

main p {
    width: 75vw;
}
nav {
    display: none;
}

li.nav-item:last-of-type {
    padding-bottom: 25px;
}



/* ol {
    display: block;
} */

section.organized-drawer-pic {
    width: 100%;
    height: 700px;
    background-size: 100%;
}

section.denim-pic {
    width: 100vw;
    height: 350px;
}

section.request-a-consultation {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 20px;
}

/* section.testimonial {
    width: 150px;
} */

section.testimonial {
    width: 45%;
}
section.testimonial p {
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}

section.the-spaces {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

footer {
    flex-direction: column;
}

aside.fun-facts p{
    text-align: left;
}

.strategy p {
    width: 70vw;
}
.the-story-box {
    background-color: white;
    width: 75vw;
}

}

/* iphone */
@media only screen and (max-width: 480px) {

/* a.stylized-link.main-link {
    width: 80%;
} */
aside.fun-facts {
    padding: 0 30px 20px 10px;
}
footer {
    padding: 40px;
}
form {
    margin: 0;
}

h3 {
    font-size: 1.5rem;
}

main {
    padding: 0 0 20px;
}
main p {
    width: 70vw;
}

/* section.about-grace p {
    width: 95%;
} */

/* div.before-after-gallery {
    display: none;
}

div.before-after-gallery-mobile {
    display: block;
    width: 95vw;
} */

section.organized-drawer-pic {
    height: 350px;
}

section.pricing h3 {
    padding-top: 20px;
}
section.testimonial {
    width: 90%;
    padding: 20px 0 10px 0;
}

.fun-facts {
    width: 85vw;
    margin-bottom: 40px;
}
}
}